<div class="containar">
  <div class="row">
    <div class="col-8 offset-2">
      <h2 class="mb-3">会員一覧</h2>
      <table class="table">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td><%= link_to customer.full_name, admin_customer_path(customer) %></td>
            <td><%= customer.email %></td>
            <td><%= customer.is_active %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>