<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h1>ジャンル編集</h1>
      <%= form_with model: [:admin, @genre], local:true do |f| %>
      <div class="form-group">
        <label for="genre">ジャンル名</label>
        <%= f.text_field :name %>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success">変更を保存</button>
      <% end %>
      </div>
    </div>
  </div>