<div class="containar">
  <div class="row">
    <div class="col-10 offset-2">
      <h2>ログイン</h2>
      <p>会員の方はこちらからログイン</p>
      <%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
      <div class="form-group">
        <label class="col-sm-2 col-form-label">メールアドレス</label>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="form-group">
        <label class="col-sm-2 col-form-label">パスワード</label>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <button type="submit" class="btn btn-primary">ログイン</button>
      </div>
      <% end %>
      <br>
      <p>会員登録がお済みでない方</p>
      <p><%= link_to 'こちら', new_customer_registration_path %>　から新規登録を行ってください。</p>
    </div>
  </div>
</div>
